.cardWrapper {
  width: 100%;
  max-width: 448px; 
  height: fit-content;
  transform: translateY(-32px);
}

.cardContent {
  padding-top: 24px; 
}

.header {
  display: flex;
  margin-bottom: 16px; 
  gap: 8px; 
}

.icon {
  height: 32px; 
  width: 32px; 
  color: #ef4444; 
}

.title {
  font-size: 24px; 
  font-weight: 700; 
  color: var(--text-primary); 
  margin: 0;
  line-height: 32px;
}

.description {
  margin-top: 16px; 
  font-size: 14px; 
  color: var(--text-secondary); 
  line-height: 20px;
}