.inputWrapper {
    position: relative;
}

.input {
    padding: 7px 12px;
    color: var(--text-primary);
    border-radius: 5px;
    border: none;
    outline-color: var(--primary);
    background: var(--bg-secondary);
    box-sizing: 0px 4px 4px rgba(0, 0, 0, 0.05);

    font-size: 16px;
    line-height: 22px;

    font-family: var(--app-font-sans);

    box-sizing: border-box; 
}

.input::placeholder {
    color: var(--gray);
}

.error {
    border: 2px solid var(--dark-red)
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: var(--dark-red);
}